.cart-section{
    margin-top: 4rem;
    .cart-section-left{
         border: 1px solid gray;
         padding: 10px;
         border-radius: 5px;
        
         .increase-decrese button{
            border: none;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 21px;
    font-weight: 500;
         }
 }
}

.cart-summary-section {.checkout-btn{
        text-decoration: none;
        background-color: green;
        color: white;
        width: 100%;
        /* width: 17rem; */
        display: block;
        text-align: center;
        padding: 7px;
        border-radius: 5px;
}}

@media(max-width : 768px){
      .cart-item-details{
        // display: flex;
        text-align: center;
      }  
      .cart-actions{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
      }
}