
.user-profile-section{
    margin-top: 7rem;
    .profile-card,
    .order-summary {
      border: none;
      border-radius: 15px;
      padding: 20px;
      background: #ffffff;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }
  
    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
}