.user-profile-section {
  margin-top: 7rem;
  padding-bottom: 3rem;

  .profile-card,
  .order-summary {
   border: none;
    /* border-radius: 20px; */
    padding: 30px;
    /* background: linear-gradient(135deg, #fefefe, #f4f4f4); */
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08); */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */

    
  }

  .profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.2rem;
    border: 5px solid #e0e0e0;
    transition: transform 0.3s ease;
  }

  .username {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    margin-top: 1rem;
  }

  .user-email,
  .user-phone,
  .user-address {
    font-size: 15px;
    color: #666;
    margin: 6px 0;
    i {
      margin-right: 8px;
      color: #999;
    }
  }

  .order-btn {
    width: 100%;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    transition: background 0.3s ease;
  }

  .fa-pen-to-square {
    position: absolute;
    top: 38%;
    left: 49%;
    color: #555;
    transition: color 0.3s ease;
   
  }
}

@media (max-width: 768px) {
  .user-profile-section {
    .profile-img {
      width: 120px;
      height: 120px;
    }
    .username {
      font-size: 1.3rem;
    }
    .order-btn {
      font-size: 14px;
    }
    .fa-pen-to-square {
      right: 20px;
      top: 20px;
    }
  }
}
