.home-product {
  .buy-now {
    background-color: #000000;
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    color: white;
  }
  .buy-now:hover{
      background-color: rgb(8, 46, 8)
      // color: #000;
  }
}
