.home-product {
  .heading {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }

  .card {
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.02);
    }
  }

  .product-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
  }

  .discount {
    background-color: #fdd4d4;
    color: red;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 15px;
  }

  .buy-now {
    background-color: #fff;
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 47px;
    font-weight: 600;
    color: #000000;
    transition: 0.3s;

    &:hover {
      background-color: #000;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .home-product {
    .heading {
      font-size: 1.5rem;
    }

    .card-title {
      font-size: 14px;
      text-align: center;
    }

    .product-image {
      height: 160px;
    }

    .discount {
      background-color: white !important;
      font-size: 10px;
      padding: 2px 8px;
    }

    .buy-now {
      font-size: 14px;
      padding: 8px;
    }
  }
}

@media (max-width: 576px) {
  .home-product {
    .product-image {
      height: 140px;
    }

    .card-title {
      font-size: 13px;
    }

    .discount {
      font-size: 9px;
    }
  }
}
