.product-details__add-to-cart{
    background-color: black;
    padding: 10px;
    width: 100%;
    color: white;
}
.review-button button{
    background-color: #424454;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.modals-body ,.text-area, input, select{
    width: 100%;
    outline: none;
    padding: 10px;
}