.home-container {
  background: url("../../../public/ban5.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;

  .summer-text {
    color: #405581;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 2;
    font-weight: 500;
  }
  .collection {
    letter-spacing: 4px;
    font-weight: 500;
    color: #0993f0;
  }
  .stay-cool{
    color: #405581;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.7;
  }
  .shop-now{
    background-color: #2a2930;
    padding: 10px;
    font-size: 22px;
    width: 65%;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
  }
  // .shop-now:hover{
  //    background-color: wheat   !important;
  //    border-radius: 10px;
  //    color: black;
  //    border: 1px solid gray;
  // }
}
@media(max-width:992px){
    .home-container{
        background-size: cover;
        text-align: center;
    }
    .home-container .column{
        margin-top: 4rem !important;
    }
}