.home-container {
 background-color: #f8f4f1;
  min-height: 80vh;
  .summer-text {
    color: #405581;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 2;
    font-weight: 500;
  }
  .collection {
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 52px;
  }
  .stay-cool{
    color: #405581;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.7;
  }
  .shop-now{
    background-color: #000000;
    padding: 6px;
    font-size: 22px;
    width: 36%;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
  }
  // .shop-now:hover{
  //    background-color: wheat   !important;
  //    border-radius: 10px;
  //    color: black;
  //    border: 1px solid gray;
  // }
  .brand-img{
    width: 112%;
  }

  .brand-row{
    background-color: #000000;
    padding: 18px;
    .brand-row , h2{
      color: #fff;
      font-weight: 700;
    }
    
  }

  .star-parent{
    position: relative;
    .star-icon-1{
      position: absolute;
    top: 60%;
    left: 22%;
    }
    .star-icon-2{
      position: absolute;
      top: -4%;
      // left: 82%;
      right: 0;
    }

    .star-icon-1 img{
      width: 19%;
    }
    .star-icon-2 img{
      width: 7rem;
    }
  }
  .show-brands-mobile{
    display: none !important;
  }
  .brand-row-2{
      display: none !important;
  }
}
@media(max-width:992px){
    .home-container{
        background-size: cover;
        text-align: center;
    }
    .home-container .column{
        margin-top: 4rem !important;
    }
    .home-container .shop-now{
      width: 100%;
    }
    .home-container .collection{
      font-size: 37px;
      margin-top: 2rem;
    }
    .star-parent{
      margin-top: 1rem !important;
    }
    .home-container .star-parent .star-icon-1 {
      position: absolute;
      top: 56%;
      left: -20%;
  }
    .star-parent .brand-img{
      max-width: 100%;
    }
    
    .home-container .show-brands{
      display: none !important;
    }
    .home-container .show-brands-mobile{ 
      display: block !important;
       flex-direction: column;
      //  gap: 10px;
    }
    .show-brands-child{
      gap: 25px;
    }
    .show-brands-mobile .first-div{
      border-right: unset !important;
      padding-right: unset !important;
      margin-right: unset !important;
    }
    .show-brands-mobile .second-div{
      border-right: unset !important;
      padding-right: unset !important;
      margin-right: unset !important;
    }
    .show-brands-mobile .third-div{
      margin-top: 20px;
    }

    .home-container .brand-row{
      display: none;
    }
    .home-container .brand-row-2 {
      display: block !important;
       background-color: #000000;
       padding: 18px;
       .brand-row-2 , h2{
         color: #fff;
         font-weight: 700;
       }
    }

}